AUTH_POSTGRES_USER=
AUTH_POSTGRES_PASSWORD=
AUTH_POSTGRES_DB=

PRODUCT_POSTGRES_USER=
PRODUCT_POSTGRES_PASSWORD=
PRODUCT_POSTGRES_DB=

MONGO_INITDB_ROOT_USERNAME=
MONGO_INITDB_ROOT_PASSWORD=
MONGO_INITDB_DATABASE=

RABBIT_USER=
RABBIT_PASS=